HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
JWT_SECRET=tobemodified

DATABASE_CLIENT=postgres
DATABASE_NAME=document-cms
DATABASE_HOST=localhost
DATABASE_PORT=2235
DATABASE_USERNAME=openapi
DATABASE_PASSWORD=openapi-pass